@model MyApp.Core.tb_m_projects

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_m_projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_m_vendors.vendor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_m_vendors.vendor_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.guid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
